@import url(reset.css);


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
#about .banner {
    padding: 400px 0;
    overflow: hidden;
    background-image: url(../img/about-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#about>.container {
    padding: 80px 0;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about h4 {
  margin: 40px 0 25px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #009961;
  line-height: 1;
}

.about .aboutimg {
  width: 100%;
}

.about .content .btn-learn-more {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  float: right;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #009961;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 50px;
  border: 2px solid #009961;
}

.about .content .btn-learn-more:hover {
  background: #009961;
  color: #fff;
  text-decoration: none;
}
